.menu__item {
  position: relative;
  display: flex;
  align-items: center;
}
.menu__icon.show {
  transition-duration: 0.9s;
  transform: rotate(180deg);
}
.dropdown-content.hide {
  display: none;
}
.dropdown-content {
  position: absolute;
  top: 30px;
  left: 0px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 10;
}
.dropdown-content li {
  text-decoration: none;
}
