@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
.navbar {
  height: 100px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Dancing Script", cursive;
  font-size: 28px;
  font-weight: 500;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 30px;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
}
